<footer class="navbar navbar-expand-lg navbar-light footer-bg-color footer">
  <div class="container-fluid">
    <a class="navbar-brand logo-hover-footer" href="#">
      <%= image_tag "pngwing.com.png", class: "logo-size logo-footer" %>
    </a>
    <a class="title-link-footer navbar-brand montserrat-font text-uppercase" href="#">MTG Game Articles</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 m-auto">
        <li class="nav-item montserrat-font">
          <a class="nav-link navbar-link-footer fs-6" href="#">Privacy Policy</a>
        </li>
        <li class="nav-item montserrat-font">
          <a class="nav-link navbar-link-footer fs-6" href="#">Terms & Conditions</a>
        </li>
        <li class="nav-item montserrat-font">
          <p class="footer-text fs-6 card-text p-2">Copyright 2020. All right reserved.</p>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <p class="footer-text fs-6 card-text p-2">Connect with us:</p>
        </li>
        <li class="nav-item">
          <a class="nav-link social-links d-flex align-items-center me-2" href="#"><ion-icon class="" name="logo-twitter"></ion-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-links d-flex align-items-center me-2" href="#"><ion-icon class="" name="logo-instagram"></ion-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-links d-flex align-items-center me-2" href="#"><ion-icon class="" name="logo-facebook"></ion-icon></a>
        </li>
      </ul>
    </div>
  </div>
</footer>