<% if flash[:alert] %>
  <span class="alert fs-2 d-flex justify-content-center flex-column align-items-center fw-bolder mb-0"><%= flash[:alert] %></span>
<% end %>
<% if flash[:notice] %>
  <span class="notice fs-2 d-flex justify-content-center flex-column align-items-center fw-bolder mb-0"><%= flash[:notice] %><span>
<% end %>
