// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-article {
  min-height: 36rem;
  background-size: cover;
}

.title-most-voted-article, .title-most-voted-article:hover {
  color: #ff8000 !important;
  background-color: transparent;
}

.text-most-voted-article, .text-most-voted-article:hover {
  color: white !important;
  background-color: transparent;
}

.category-link-index-page {
  min-height: 17rem;
  background-size: cover;
}

.title-category, .title-category:hover {
  color: white !important;
  background-color: transparent;
}

.title-most-voted-article-bottom, .title-most-voted-article-bottom:hover {
  color: white !important;
  background-color: transparent;
}

.title-category-show {
  color: #ffc107 !important;
  background-color: transparent;
}

.vote-link, .vote-link:hover {
  color: #ffc107 !important;
  background-color: transparent;
}

.background-image-forms {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1620023653253-3845c9c29210?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-y: hidden !important;
  overflow-x: hidden;
  height: 93vh;
}

.box-form {
  background-color:#614d41;
  border-radius: 5%;
}

.title-form {
  color: white;
}

.label-color-white {
  color: white;
}

.submit-button {
  background-color: #ff8000 !important;
  color: #614d41 !important;
}

.input-group {
  padding: 10px;
}
